* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vw;
    height: 100vh;
}

.side-image {
    background-image: url(images/johannes-plenio.jpg);
    background-position: right center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 400px;

}

.login-page {
    width: 600px;
}