* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    height: 100vw;
    height: 100vh;
}

.side-image {
    background-image: url(images/johannes-plenio.jpg);
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 28vw;
    height: 100%;

}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
/*     background-image: linear-gradient(rgb(134, 58, 58), rgb(86, 131, 145)); */
    background-size: cover;
    width: 72vw;
}

.top {
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
}

.form-container {
    padding-top: 40px;  
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    height: 250px;
    margin: 0;
    column-gap: 100px;    
    box-shadow: 3.7px 3.7px 3.7px rgb(207, 207, 207);
}

form {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    margin: 0;
    column-gap: 100px;    

}

.bottom {
    padding-top: 40px;
}

.r {
    padding-left: 55px;
}

.inputs {
    display: flex;
    flex-flow: column wrap;
    height: 50px;    
    font-size: .9rem;
    letter-spacing: .07rem;
}

#create_account {
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    padding: 10px 40px;
    background: #457081;
    color: white;
    font-weight: bold;
}

.form-button {
    margin-top: 30px;
}

.rb-log-in {
    display: flex;
    padding-top: 10px;
    gap: 6px;

}

input:focus {
    border: 2.3px solid rgb(113, 156, 219);
    outline: none;
    box-shadow: 1.5px 1.5px rgb(192, 192, 192);
}

/* input:required {
    border: 2.3px solid red;
    outline: none;
} */

input {
    border: 1px solid #D6D9DC;
    border-radius: 4px;
    width: 270px;
    height: 30px;

}    

h2 {
    width: 100%;
}

p {
    padding-bottom: 20px;
    max-width: 80%;
}

a {
    font-weight: bold;
    color: #457081;
    text-decoration: none;
}