* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vw;
    height: 100vh;
}

.side-image {
    background-image: url(images/johannes-plenio.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 28vw;
    height: 100%;

}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgb(122, 57, 57), rgb(83, 83, 83));
    background-size: cover;
    width: 72vw
}

form {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    height: 250px;
    margin: 0;
    gap: 20px;
}

.inputs {
    display: flex;
    flex-flow: column wrap;
}

input {
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 250px;
    height: 25px;
}    

h2 {
    width: 100%;
}